python==3.9.19
jupyterlab
transformers
python-dotenv
torch
torchaudio
google-generativeai==0.7.2
librosa==0.10.2.post1
python-telegram-bot==13.15
speechbrain
torchvision
pydub
datasets==2.20.0
ipywidgets==8.1.3
openai-whisper==20231117
